
body{
  background: rgb(0,0,0);
  --color1:rgb(167, 170, 176);
  color: var( --color1);
  font-family: "Inter", sans-serif;font-weight: 500;
 
}
img{
  max-width: 100%;
}
p, ul, a{
  color: var( --color1);
}
body, input, textarea, select, button {
  font-size: 14px;
  font-family: sans-serif;color: var( --color1);
}
.container{
  max-width: 1320px;
}
ul{
  padding: 0;
}
ul li{
  list-style-type: none;
}
.logo img{
  max-width: 104px;
}
a{
  text-decoration: none;
}
a:hover{
  opacity: 0.8;
}
header nav ul li a{
  padding: 0px 20px;color: var(--color1);font-weight: 500;
}
header .container{
  max-width: 1227px;
}
header a{
  font-size: 16px;font-weight: 500;
}
.btn{
  font-size: 14px;
  background: linear-gradient(97.1367deg, rgb(33, 33, 33) 0%, rgb(66, 66, 66) 193.29%);
  color: white;border-radius: 100px;position: relative;font-weight: 600;
}

.btn.btn-sq{
  border-radius: 8px;
  padding: 10px 20px 10px 20px;font-size: 16px;line-height:16px;font-weight: 600;display: flex;align-items: center;width: fit-content;
}
.btn.btn-border{
  border: 1px solid rgba(207, 212, 220, .1);
  background: linear-gradient(94deg,rgba(66,66,66,.5) 0%,rgba(66,66,66,.2) 100%);
  box-shadow: 0 1px 2px #1018280d;
  padding: 10px 16px;
  border-radius: 8px;
  min-width: 250px;text-align: center;
}
.btn.btn-border img{
  height: 20px;
  width: auto;
  margin-right: 8px;
}.btn.btn-t{
  background: transparent;color: var(--color1);
}
.btn.btn-sq img, .btn svg{
  height: 20px;width: auto;
}
.btn svg{
  margin-left: 5px;
}
.btn.btn-t:hover{
  background-color: rgba(255, 255, 255, 0.2);
}
.btn:after{
  content: '';
  width: 10px;
  height: 100%;
  position: absolute;
  left: -20px;
  opacity: 0;
  top: 0;
background: radial-gradient(50% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  filter: blur(12px);
  transform: none;
  transform-origin: 50% 50% 0px;transition: left 0.5s;
}
.btn:hover:after{
  opacity: 1;transition: left 0.5s;left:100%
}
.space-mr{
  margin: 180px 0px;
}
.space-pd{
  padding: 180px 0px;
}
.frame-image-sc .container{
  max-width: 1180px;
}
.extract-sc .container{
  max-width: 1030px;
}
.extract-sc .rgt img{
  border-radius: 35px;
  max-width: 336px;
  height: 285px;
  width: 100%;
}
.extract-sc .lft{
  padding-right: 100px;
}
h2, .h2{
  font-size: 40px;
  
}
body,p{
  font-size: 18px;
}
.footer{
  background-color: rgb(8,8,8);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.copy-right-sc{
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 30px;margin-top: 30px;
}
footer nav ul li a{
  margin-right: 25px;color: white;font-weight: 500;
}
.footer-links svg{
  height: 25px;width: 25px;
}
.footer-links path{
  fill:var(--color1)
}
.footer-links ul li a:hover{
background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
.footer-links  ul li a{
padding: 8px;
}
.top-title{
  text-transform: uppercase;
  letter-spacing: .36em;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.table-sc h1{
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner h1{
  color: #e6e6e6;
}
.banner{
  padding-top: 140px;
}
h1, .h1{
  font-size: 52px;
}
.form-control{
  background: rgba(38, 38, 38, 0.7) !important;
  color: rgb(255, 255, 255) !important;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px inset, rgb(38, 38, 38) 0px 0px 0px 1px inset !important;
  border: none;font-size: 14px;
  line-height: 14px;
  padding: 15px;
}
.form-control::placeholder{
  color: rgb(255, 255, 255,0.3);
}
.banner-form-sec .form-control{
  min-width: 334px;
}
.banner-form-sec .btn{
  font-size: 16px;
}
.banner-form-sec .btn svg path{
  fill: white;
}
.or-sec{
  width: 500px;position: relative;margin-left: auto;margin-right: auto;
}
.or-sec:before{
  content: '';
  width: calc(50% - 30px);
  height: 1px;
  background-color: rgb(255, 255, 255,0.2);
  position: absolute;
  left: 0;
  top: 50%;
}
.or-sec:after{
  content: '';
  width: calc(50% - 30px);
  height: 1px;
  background-color: rgb(255, 255, 255,0.2);
  position: absolute;
  right: 0;
  top: 50%;
}
.signup-text{
  font-size: 14px;
}
body .slick-dots li button:before{
content: none;
}
body .slick-dots li button{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255,0.7);
}
body .slick-dots .slick-active button{
background-color: white;
}
body .slick-dots{
  bottom: -85px;
}
.modal.active{
  display: block;opacity: 1;
 
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-dialog{display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
.close{
  background-color: black;
  border: none;
  color: white;font-weight: 600;font-size: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
}
@media(min-width:1200px){
  .footer{
    padding-top: 100px;
  }
}
@media (max-width:991px){
  h1,.h1{
    font-size: 40px;
  }
  h2, .h2{
    font-size: 30px;
  }
  .banner{
    padding-top: 100px;
  }
  .space-pd{
    padding: 100px 0px;
  }
  .space-mr{
    margin: 100px 0px;
  }
}
@media (max-width:767px){
  .space-pd{
    padding: 80px 0px;
  }
  .space-mr{
    margin: 80px 0px;
  }
  h2, .h2{
    font-size: 24px;
  }
  .extract-sc .lft{
    padding-right: 0;
  }
  body, p, ul, a{
    font-size: 14px;
  }
  .footer{
    text-align: center;
  }
  footer nav ul li a{
    padding: 0;font-size: 16px;
  }
  footer nav ul{
    flex-wrap: wrap;
  }
  footer nav ul li{
    width: 100%;
    margin: 15px 15px;
  }
  .btm-btn-sc  .btn{
    display: block;
    width: 100%;
    margin: 15px 0px;
  }
  .or-sec{
    width: 100%;
  }
  .banner-form-sec .btn{
    width: 100%;text-align: center;
  }
  h1, .h1{
    font-size: 30px;
  }
  header.active{
  position: fixed;
  background: black;
  height: 100%;
  z-index: 1;width: 100%;left: 0;top: 0;
  }
  header.active ul li{
   
    margin: 35px 0px;
  }
  header.active ul li a{
    font-size: 16px;font-weight: 600;
  }
  header.active .btn-sec a{
    display: block;
    width: 100%;
    margin: 10px 0px;color: white;
    background: linear-gradient(97.1367deg, rgb(33, 33, 33) 0%, rgb(66, 66, 66) 193.29%);
  }
  .active-mb{
    display: none;
  }
  .active .active-mb{
    display: block;
  }
  .hamburger-react{
    margin-left: auto;
  }
  .banner{
    padding-top: 60px;
  }
  .banner-form-sec .form-control{
    min-width: auto;width: 100%;
  }
}